# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# supabase (local stack artifacts)
.supabase

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# local-only assets
src/assets/
